@use "_variables" as var;

@mixin button(
  $background-color,
  $text-color,
  $background-color-hover,
  $text-color-hover
) {
  width: 120px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $background-color;
  color: $text-color;

  border-radius: var.$border-radius;
  border: var.$border;

  box-shadow: var.$shadow;

  &:hover {
    background-color: $background-color-hover;
    color: $text-color-hover;
  }
}
